// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flash-messages {
  margin: 1em auto;
}

.new_post .errors {
  display: none;
}

.wrapper {
  margin-top: 6em;
}

nav.navbar {
  border-bottom: 1px solid #ddd;
}